-@movie.director = @movie.crew[0].name
-@movie.description = @movie.overview

%h1= "Search TMDb Results for: #{params[:search_terms]}"


= form_tag movies_path do

  = label :movie, :title, 'Title'
  = text_field :movie, 'title'

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['G','PG','PG-13','R','NC-17']

  = label :movie, :release_date, 'Released On'
  = text_field :movie, :release_date

  = label :movie, :director, 'Director'
  = text_field :movie, 'director'

  = label :movie, :description, 'Description';
  = text_area :movie, 'description'

  = submit_tag 'Add Movie'
